langchain
langchain-community
langchain-openai
langchain-chroma
chromadb
unstructured
pypdf
pytesseract
pillow
openai
pydantic
streamlit
python-dotenv
tiktoken
sentence-transformers
langchain-groq
langchain-huggingface
langchain-text-splitters
pdf2image
docx2txt
